*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    background-color: bisque;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    /* border: 1px solid black; */
    width: 500px;
    height: 250px;

    overflow: hidden;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "Mug text";
}

.div1{
    grid-area: Mug;
    object-fit: cover;
    overflow: hidden;
  
}
img{
    width: 100%;
    height: 100%;
}

.div2{
    grid-area: text;
    margin-left: 10px;
    background-color: white;
    margin: 0;
}

.title{
    letter-spacing: 4px;
    padding: 10px;
    color: #3f4041;
}

.heading{
    margin:10px ;
}

.text{
    font-family:sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin: 10px;
}

.price{
    margin: 10px;
}

.Nprice{
    color: green;
    font-size:25px ;
}

.Oprice{
   text-decoration: line-through; 
}

button{
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: green;
}